.w32{
    width: 32%;
}
.profile{
    background: #FAFAFA;
}

.profile_user{
    padding: 32px 80px 64px;
}

::ng-deep .date_of_birth .mat-mdc-icon-button.mat-mdc-button-base {
    height: 0 !important;
    padding: 0 0 0 12px;
}

::ng-deep .date_of_birth .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
    padding-left: 16px;
}

::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix{
    padding-top: 0;
    padding-bottom: 0;
    min-height: 40px !important;
    width: 100%;
    line-height: 40px;
}

::ng-deep .mat-mdc-form-field{
    width: 100%;
}

.info_one{
    width: 100%;
}

.info_one{
    background: #FFF;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info_two{
    background: #FFF;
    border-radius: 8px;
    padding: 32px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info_three{
    background: #FFF;
    border-radius: 8px;
    padding: 32px;
}

::ng-deep  .info_three .mat-mdc-text-field-wrapper{
    padding-bottom: 10px;
}