.error_dialog{
    padding: 40px 40px 20px;
}
.error_dialog-image{
    width: 100px;height: 100px;
}

.cancelButton{
    background: #ef2424;
    color: #FFF;
}

.error_dialog .titleError{
    font-size: 20px;
    font-weight: 600;
}

