<div id="login">
    <div class="login_sub">
        <div class="login_block">
            <div class="login_block-left">
                <p class="text-lg text-white">Do not have an account?</p>
                <button mat-button class="btn_dangky" (click)="showRegisterPage()">Register</button>
            </div>

            <div class="login_block-form px-10 py-6">
                <h3 class="text-lg m-0">Sign in</h3>
                <form [formGroup]="myForm" (ngSubmit)="login()">
                    <div class="login_form-input">
                        <mat-form-field class="example-full-width">
                            <mat-label>Email</mat-label>
                            <input type="email" matInput placeholder="Ex. pat@example.com" formControlName="email">
                            <mat-error *ngIf="myForm.get('email')?.hasError('required')">
                                Email is required
                            </mat-error>
                            <mat-error *ngIf="myForm.get('email')?.hasError('email')">
                                Please enter a valid email address
                            </mat-error>
                        </mat-form-field>
                    </div>

                    <div class="login_form-input">
                        <mat-form-field class="example-full-width">
                            <mat-label>Password</mat-label>
                            <input type="password" matInput formControlName="password">
                            <mat-error *ngIf="myForm.get('password')?.hasError('required')">
                                Password is required
                            </mat-error>
                            <mat-error *ngIf="myForm.get('password')?.hasError('minLength')">
                                Password must be at least 6 characters
                            </mat-error>
                        </mat-form-field>
                    </div>


                    <div class="remember_account">
                        <section class="example-section">
                            <mat-checkbox color="primary">Remember account</mat-checkbox>
                        </section>
                    </div>
                    
                    <div class="login_form-button">
                        <button mat-raised-button [disabled]="myForm.invalid || !isLoginSuccess" color="primary">Log in</button>
                    </div>

                    <div class="forgotPassword text-center">
                        <a href="" class="text-blue-700 no-underline text-base">Forgot password</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
