#login{
    width: 100%;
    height: 100vh;
    background: #F6F6F6;
}

.login_sub{
    padding-top: 80px;
    width: 80%;
    margin: 0 auto;
}

.login_block{
    width: 100%;
    height: 100%;
    background-image: url('../../../../../assets/images/image_login.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 16px;
    overflow: hidden;
    display: flex;
    box-shadow: 0px 32px 74px -12px rgba(0, 0, 0, 0.75);
}

.login_block-left{
    width: 50%;
    text-align: center;
    margin-top: 150px;
}

.login_block-left .btn_dangky{
    border: 1px solid #FFF;
    color: #FFF;
    border-radius: 8px;
    padding: 10px 36px;
}

.login_block-form{
    width: 50%;
    background: #FFF;
}

.login_form-button{
    margin: 15px 0;
}

.login_form-input{
    margin-bottom: 15px;
}

::ng-deep .login_form-input .mat-mdc-form-field{
    width: 100%;
}

::ng-deep .login_form-input .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background-color: transparent;
}

::ng-deep .login_form-button .mat-mdc-raised-button.mat-mdc-button-base{
    width: 100%;
}