@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
}

:root{
    --main-color: #136397;
}

img{
    width: 100%;
    height: 100%;
}

.success-snackbar {
    @apply text-white;
    background: #00ff2ed4;
}

.error-snackbar {
    @apply bg-red-500 text-white;
}
mat-snack-bar-container.mdc-snackbar > .mdc-snackbar__surface  {
    background: none !important;
}