<div class="info">
    <div class="info_user">
        <div class="info_user-img">
            <img src="assets/images/banner_tour.png" alt="">
        </div>
        <div class="info_user-info ml-2">
            <div class="info_user-info-name font-semibold mb-1.5">quangduy@gmail.com</div>
            <div class="info_user-info-id mb-1.5">ID: 1234</div>
            <div class="info_user-info-email">simmons@example.com</div>
        </div>
    </div>
    <hr/>   

    <div class="option_select p-2">
        <div class="option_select-block flex items-center cursor-pointer"
            *ngFor="let option of optionSelect"
            (click)="clickOption(option)"
        >
            <div class="option_select-block-icon">
                <img src="{{option.icon}}" alt="">
            </div>
            <div class="option_select-block-text ml-2">
                {{option.text}}
            </div>
        </div>

        <div class="option_select-block flex items-center cursor-pointer"
            (click)="logout()"
        >
            <div class="option_select-block-icon">
                <img src="assets/images/logout.svg" alt="">
            </div>
            <div class="option_select-block-text ml-2">
                LogOut
            </div>
        </div>
    </div>
</div>
