#filter{
    background: #FFF;
    border-radius: 24px;
    padding: 24px 20px;
    box-shadow: 0px 32px 74px -12px rgba(0, 0, 0, 0.75);
}

.filter_one{
    width: 32%;
    padding-right: 10px;
}

.filter_one-live-icon{
    width: 20px;
    height: 20px;
}
.filter_group{
    width: 68%;
}

.filter_one-input{
    margin-top: 6px;
}
.filter_one-input input{
    outline: none;
    font-size: 14px;
    width: 100%;
}


.filter_two{
    padding: 0 24px;
    position: relative;
}

.filter_two::before{
    content: "";
    background: #CCC;
    position: absolute;
    height: 30px;
    width: 1px;
    top: 12px;
    left: 0;
}

.filter_two::after{
    content: "";
    background: #CCC;
    position: absolute;
    height: 30px;
    width: 1px;
    top: 12px;
    right: 0;
}

.filter_two-input{
    margin-top: 6px;
}

::ng-deep .filter_two-input .mdc-text-field--filled:not(.mdc-text-field--disabled){
    background: transparent;
}

::ng-deep .filter_two-input .mdc-text-field--no-label:not(.mdc-text-field--outlined):not(.mdc-text-field--textarea) .mat-mdc-form-field-infix{
    padding-top: 0;
    padding-bottom: 0;
    min-height: unset !important;
    width: 152px;
}

::ng-deep .filter_two-input .mat-mdc-icon-button.mat-mdc-button-base{
    height: 0 !important;
    padding: 0 0 0 12px;
}

::ng-deep .mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper{
    padding: 0px;
}

::ng-deep .filter_two-input .mat-mdc-form-field-subscript-wrapper{
    display: none;
}

::ng-deep .filter_two-input .mat-mdc-icon-button .mat-mdc-button-touch-target{
    display: none;
}

::ng-deep .filter_two-input .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control{
    font-size: 14px;
}

::ng-deep .filter_two-input .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay{
    opacity: 0;
}

::ng-deep .filter_two-input .mat-mdc-form-field-focus-overlay{
    background: transparent !important;
}

::ng-deep .filter_two-input .mdc-line-ripple{
    display: none;
}

::ng-deep .filter_two-input .mat-mdc-icon-button{
    --mdc-icon-button-icon-size: 20px;
}

::ng-deep .filter_btn .mdc-button__label{
    height: 24px;
}

::ng-deep .filter_btn .mdc-button{
    min-width: unset;
    max-width: 40px;
}

::ng-deep .filter_btn .mat-mdc-raised-button{
    border-radius: 10px;
}

.filter_three{
    width: 400px;
    padding-left: 30px;
}