<div id="tour_item" class="flex">

    <div id="item">
        <div class="tour_item-padding">
            <div class="tour_item-image">
                <img src="../assets/images/tour1.png" alt="">
            </div>
            <div class="tour_item-infor">
                <p class="tour_item-infor-title text-lg">
                    Tour 2N1Đ Hà Nội - Quảng Ninh: Hành Hương Yên Tử
                </p>

                <div class="tour_item-infor-address flex items-center">
                    <div class="infor-address-icon">
                        <img src="../assets/images/map-pin.svg" alt="">
                    </div>
                    <p class="infor-address-text">Yên Tử, Quảng Ninh</p>
                </div>
                
                <div class="tour_item-infor-group flex justify-between">

                    <div class="tour_item-infor-member flex items-center">
                        <div class="infor-member-icon">
                            <img src="../assets/images/profile.svg" alt="">
                        </div>
                        <p class="infor-member-text">20 hành khách</p>
                    </div>

                    <div class="tour_item-infor-clock flex items-center">
                        <div class="infor-clock-icon">
                            <img src="../assets/images/clock.svg" alt="">
                        </div>
                        <p class="infor-clock-text">2 Ngày 1 Đêm</p>
                    </div>

                </div>

                <div class="tour_item-infor-price">
                    <p>từ <span class="infor-price">2.321.123 đ</span> / người</p>
                </div>

            </div>
        </div>
    </div>

</div>
